streamlit
pandas
psycopg2-binary
plotly
python-dotenv
git+https://github.com/rongardF/tvdatafeed.git
datetime
streamlit
streamlit-oauth
PyYAML
google-auth-oauthlib
google-api-python-client
pytz
redis
rq
streamlit-cookies-manager